<!DOCTYPE html>
<html lang="en">
<head>
<title>Python Flask Bucket List App</title>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/loglist.css" rel="stylesheet">
 </head>
<body>
<div class="col-lg-3">
</div>
<div class="col-lg-6">
  <table>
  <tr>
    <td>ID</td>
    <td>Name</td>
  </tr>
  {% for your_list_element in your_list %}
  <tr>
    <th>{{ your_list_element.user_id }}</th>
    <th>{{ your_list_element.user_name }}</th>
    <th>{{ your_list_element.user_pic_name }}</th>  
  </tr>
  {% endfor %}  
  </table>
 </div> 
</body>
</html>